@{
    ViewData["Title"] = "Home Page";

}
@*@model _2BSite.Controllers.TestModel*@
<style>
    .secitem a {
        padding: 0 5px;
        line-height: 20px;
        /*margin-top: 10px;*/
        margin-right: 8px;
        color: #666666;
        background: #ffffff;
        position: relative;
        display: block;
        float: left;
    }

    .secitem {
        margin-top: 10px;
    }

        .secitem a:hover {
            background: #00B6FB;
            border-radius: 3px;
            color: #fff;
            text-decoration: none;
        }

        .secitem a.select {
            background: #00B6FB;
            border-radius: 3px;
            color: #fff;
            text-decoration: none;
        }
</style>
<div class="row">
    <div class="col-xs-2 secitem">
        <p>省份:</p>
    </div>
    <div class="col-xs-10 secitem">
        <a href="#" class=" select">浙江</a>
        <a href="#" >安徽</a>
        <a href="#" >广东</a>
        <a href="#" >浙江</a>
        <a href="#" >浙江</a>
        <a href="#" >浙江</a>
        <a href="#" >浙江</a>
        <a href="#" >浙江</a>
        <a href="#" >浙江</a>
        <a href="#" >浙江</a>
        <a href="#" >浙江</a>
        <a href="#" >浙江</a>
        <a href="#" >浙江</a>
        <a href="#" >浙江</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-2 secitem">
        <p>筛选:</p>
    </div>
    <div class="col-xs-10 secitem">
        <a href="#">浙江</a>
        <a href="#">浙江</a>
    </div>
</div>

<div class="hr hr32 hr-dotted"></div>
<div id="part_1">

</div>
@*@await Html.PartialAsync("Part_1",Model)*@


@section scripts{
    <script>
        $(document).ready(function () {
            GetInfo("浙江");
        });
        $('.secitem a').click(function () {
            $(this).addClass('select');
            $(this).siblings("a").removeClass("select");
            GetInfo($(this).text());
        });
        function GetInfo(Province) {
            console.log(Province);
            $.ajax({
                type: "Get",
                cache: false,
                url: "@Url.Action("Test","Home")",
                data: { "Province": Province },
                /*dataType: "json",*/
                success: function (res) {
                    $('#part_1').html(res);
                    console.log("success");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log("error");
                }
            });
        }

    </script>
}
